.login-container {
  background: rgb(26, 26, 26, 0.8);
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.login-form-container {
  background-color: #fff;
  box-shadow: 0 0.8rem 1.2rem #00000029;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 28rem;
  height: 21rem;
  padding: 2rem 4rem 1rem 4rem;
}
.title-login-form {
  color: var(--primary);
  font-family: "Roboto";
  font-weight: 900;
  font-size: 1.5rem;
}
.forget-login-form {
  text-decoration: none;
  margin: 0.5rem 0 1rem 0;
  color: var(--danger);
  font-size: 0.6rem;
  text-align: right;
  font-weight: bolder;
}
.login-btn-principal {
  padding: 0.8rem;
  width: 76%;
  align-self: center;
  margin: 0.5rem 1rem;
  font-weight: 900;
  border-radius: 6px;
  background: var(--primary) 0% 0% no-repeat padding-box;
  box-shadow: 0px 15px 30px #00000040;
  backdrop-filter: blur(undefined);
  -webkit-backdrop-filter: blur(undefined);
}
.new-user-login-form {
  text-align: center;
  font-weight: 400;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
.new-user-login-form a {
  text-decoration: none;
  color: var(--primary);
  font-weight: 400;
}
.login-input-container {
  margin-bottom: 0;
  margin-top: 1rem;
}
.login-input-input {
  width: 100%;
  border-radius: 3px;
  padding: 0.5rem;
}

@media (min-width: 1401px) {
}

@media (min-width: 1281px) and (max-width: 1400px) {
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .login-form-container {
    background-color: #fff;
    box-shadow: 0 0.8rem 1.2rem #00000029;
    width: 30rem;
    height: 20rem;
  }
}

/*     ##Device = Tablets, Ipads (portrait)

  */

@media (min-width: 768px) and (max-width: 1024px) {
}

/* 
    ##Device = Tablets, Ipads (landscape)

  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    */

@media (min-width: 481px) and (max-width: 767px) {
}
/*    ##Device = Most of the Smartphones Mobiles (Portrait)
  */

@media (min-width: 320px) and (max-width: 480px) {
}
