.match-details {
  display: flex;
  height: 5rem;
  padding: 0 0.5rem;
  align-items: center;
  border-radius: 0.5rem;
  background-image: linear-gradient(to bottom, var(--color), var(--color3));
}
.match-details:hover {
  /* background: rgb(255, 121, 18, 100); */
  cursor: pointer;
  background: linear-gradient(
    to right,
    rgba(243, 119, 4, 0.876),
    rgba(98, 9, 3, 0.582)
  );
}

.match-hour {
  color: white;
  font-weight: 400;
  font-size: 1.3rem;
  border: 1px solid white;
  padding: 0.4rem;
}

.team-logo {
  width: 3.5rem;
  height: 3.5rem;
  margin: auto;
}
.match-date-details {
  margin-top: 1rem;
  color: var(--light);
}
.stadium-logo {
  width: 2rem;
  height: 2rem;
}
.stadium-detail {
  display: table;
  text-align-last: center;
}
.stadium-match {
  color: var(--light);
  /* margin-right: auto; */
}

@media (max-width: 599px) {
  .stadium-logo {
    width: 1rem;
    height: 1rem;
  }
  .match-hour {
    font-size: 1rem;
  }
  .match-details {
    width: 100%;
  }
  .stadium-match {
    text-align: center;
    font-size: 0.6rem;
  }
}
