.log-form {
  width: 25.9rem;
  height: 50%;
  background: var(--light);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  overflow-y: auto;
}
.input-form {
  width: 100%;
  /* padding: 0rem 3rem 0rem 2rem; */
}
.log-form-none {
  display: none;
}

.form-container-properties {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  margin-left: 1.3rem;
}
.container-form {
  display: block;
  padding: 1rem 1rem 2rem 2rem;
  width: 90%;
}

.title-form-login {
  font: Bold 1.3rem Roboto;
  margin: 2rem 0 0 2rem;
  /* padding: 0.75em 1em 0.75em 1.5em; */
  box-shadow: inset 0px 1px 1px fadeout(white, 95%);
  border: 1px solid darken(#2a2a2a, 5%);
  text-shadow: 0px 1px 1px darken(#2a2a2a, 5%);
  color: var(--color);
}
.forgot {
  color: var(--danger);
  position: relative;
  text-decoration: none;
  font-size: 0.7rem;
  float: right;
  bottom: 1rem;
  cursor: pointer;
}

.container-button {
  display: flex;
  width: 100%;
  /* padding: 0rem 1rem 0rem 1rem; */
}

.btn-custom-primary-login {
  display: flex;
  justify-content: center;
  height: 3rem;
  margin: auto;
  width: 90%;
}

.btn-custom-primary:hover {
  background: var(--color2);
}

.btn-custom-primary:active {
  background: var(--color3);
  box-shadow: inset 0px 1px 1px fadeout(black, 90%);
}

.container-error {
  position: absolute;
  width: 100%;
  opacity: 70%;
}

.message-error {
  padding: 0.3rem 0;
  background-color: var(--danger);
  text-align: center;
  color: var(--light);
  border-radius: 0.2rem;
}
/*responsive*/
@media (min-width: 1401px) {
}

@media (min-width: 1281px) and (max-width: 1400px) {
}

@media (min-width: 1025px) and (max-width: 1280px) {
}

@media (min-width: 768px) and (max-width: 1024px) {
}

/* 
    ##Device = Tablets, Ipads (landscape)

  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    */

@media (min-width: 481px) and (max-width: 767px) {
  .log-form {
    height: 65%;
    width: 90%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .log-form {
    height: 80%;
    width: 90%;
    margin: 1rem 0;
  }
.form-container-properties{
  margin-left: 0;
}
  .forgot {
    font-size: 0.7rem;
    font-weight: bold;
    }
  .btn-custom-primary-login {
    margin: 0;
    width: 100%;
    background: #ffb238;
    font-weight: bold;
    text-transform: uppercase;
    height: 2.5rem;
  }
}

@media (min-width: 230px) and (max-width: 319px) {
  .log-form {
    height: 70%;
    width: 90%;
  }
  .forgot {
    font-size: 0.5rem;
  }
  .btn-custom-primary-login {
    margin: 0;
    width: 100%;
    background: #ffb238;
  }
  .form-container-properties {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}
