.profile-options-balance-right {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  background: transparent;
  width: 67%;
  border-radius: 0.5rem;
  margin-top: 2rem;
}
.profile-settings-header-button {
  display: flex;
  height: 3.5rem;
  align-items: center;
}
.btn-header-balance-primary {
  width: 15%;
  height: 2.8rem;
  border-radius: 3px;
  background: transparent linear-gradient(180deg, #ffa000 0%, #ff7f00 100%) 0%
    0% no-repeat padding-box;
}
.btn-header-balance-secondary {
  width: 15%;
  height: 2.8rem;
  border-radius: 3px;
  background: #292929 0% 0% no-repeat padding-box;
  border: 1px solid #3e3e3e;
}
  .object-margin{
  margin: 0 0.25rem;
    }
.profile-header-balance {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--light);
  border-bottom: 1px solid #e3e3e3;
  border-radius: 6px;
  height: 5rem;
  margin: 1rem 0;
  padding: 0 1rem;
}
.profile-left-header-balance {
  display: flex;
  flex-direction: column;
}
.profile-title-balance {
  font-size: 0.6rem;
  font-weight: 600;
  margin-bottom: 3px;
}
.profile-quantity-balance {
  color: var(--diners);
  font-weight: bolder;
}
.btn-left-balance-primary {
  background: #f8b033;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 4px;
  padding: 0.8rem 1.5rem;
  margin: 0.5rem;
}
.btn-right-balance-primary {
  background: var(--green);
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 4px;
  padding: 0.8rem 1rem;
  margin: 0.5rem;
}

.profile-body-balance {
  display: flex;
  background: var(--light);
  flex-direction: column;
  height: 100%;
}
.profile-header-transaction {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: #f8f8f8 0% 0% no-repeat padding-box;
  border: 1px solid #e3e3e3;
  justify-content: space-between;
  padding: 0rem 1rem;
  height: 3rem;
  align-items: center;
}

.balance-input-transaction-custom {
  width: 100%;
  height: 2rem;
  background: var(--light);
  padding-top: 0;
  border-radius: 3px;
  margin-bottom: 0;
}
.balance-input-transaction {
  border-color: none;
  color: var(--dark);
  font-family: "Roboto", "fontello";
  font-size: 0.8rem;
}
.balance-input-transaction-custom::placeholder {
  color: var(--borders);
}
.balance-input-transaction-custom:valid {
  border: none;
}

.table-profile-transaction {
  overflow: hidden;
}
.title-table-primary {
  text-align: left;
  width: 30%;
  margin-left: 1rem;
  font-weight: 600;
  font-size: 0.8rem;
  height: 2rem;
  padding-left: 1rem;
}
.title-table-primary-two {
  text-align: left;
  width: 50%;
  margin-left: 1rem;
  font-weight: 600;
  font-size: 0.8rem;
  height: 2rem;
  padding-left: 1rem;
}

.title-table-secondary {
  text-align: left;
  font-weight: 600;
  font-size: 0.8rem;
  width: 20%;
  padding: 0 1rem;
}
.row-primary-body-table {
  border: 1px solid #e3e3e3;
  height: 2.4rem;
}
.row-primary-table {
  font-weight: 600;
  letter-spacing: 0;
  color: #12b731;
  opacity: 1;
  font-size: 0.73rem;
  padding-left: 1rem;
}

.row-secondary-table {
  font-weight: 600;
  letter-spacing: 0;
  color: #f8b033;
  opacity: 1;
  font-size: 0.73rem;
  padding-left: 1rem;
}
.row-tertiary-table {
  font-weight: 600;
  letter-spacing: 0;
  color: #e84141;
  opacity: 1;
  font-size: 0.73rem;
  padding-left: 1rem;
}
.column-table-bold {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--dark);
  padding-left: 1rem;
}

/*Limits*/

.container-balance-limits {
  display: flex;
  flex-direction: column;
  background: var(--light);
  height: 100%;
  width: 100%;
  margin: 1rem 0;
}
.header-balance-limits {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 2.5rem;
  background: #f8f8f8 0% 0% no-repeat padding-box;
  border: 1px solid #e3e3e3;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0 2.5rem;
  align-items: center;
}
.body-balance-limits {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  padding: 0 2.5rem;
}
.text-balance-limits {
  font-size: 0.7rem;
  text-align: left;
  margin-bottom: 0.3rem;
}
.limits-input-limits {
  width: 45%;
  border: 1px solid #cccccc;
  border-radius: 2px;
  font-size: 0.8rem;
}
.limits-container-limits {
margin:0.2rem 0;
}

.limits-input-limits:valid{
  border: 1px solid #cccccc;
}
.limits-input-limits:valid +.label-element{
font-size: 0.8rem;}