.your-team-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--light);
  border-radius: 6px;
  overflow: hidden;
  margin: 0.5rem 0;
}
.your-team-header {
  display: flex;
  align-items: center;
  padding: 1rem;
  height: 3rem;
  background: #f4f4f4;
  border-radius: 6px 6px 0px 0px;
}
.title-your-team {
  font-weight: bold;
  color: #343434;
}
.your-team-background {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(49, 49, 49, 1);
  border: 1px solid #292929;
  height: 25rem;
}
.contest-your-team {
  display: flex;
  width: 70%;
  height: 85%;
  background: url("../../assets/images/MediumField.png");
  background-repeat: round;
}
.footer-your-team {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 2rem;
  height: 2rem;
  background: #f7f7f7;
  border-radius: 0px 0px 6px 6px;
}
.text-footer {
  font-weight: 600;
  font-size: 0.8rem;
}

.card-team-contest{
display: flex;
flex-direction: column;
margin-top: 2rem;
}