
.icon-search:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-ok:before { content: '\e802'; } /* '' */
.icon-heart:before { content: '\e803'; } /* '' */
.icon-eye-off:before { content: '\e804'; } /* '' */
.icon-eye-1:before { content: '\e805'; } /* '' */
.icon-lock-circled:before { content: '\e806'; } /* '' */
.icon-lock-open-alt-1:before { content: '\e807'; } /* '' */
.icon-lock-open-1:before { content: '\e808'; } /* '' */
.icon-lock-1:before { content: '\e809'; } /* '' */
.icon-ok-circled:before { content: '\e80a'; } /* '' */
.icon-left-circle:before { content: '\e80b'; } /* '' */
.icon-right-circle:before { content: '\e80c'; } /* '' */
.icon-ok-1:before { content: '\e80d'; } /* '' */
.icon-money-1:before { content: '\e80e'; } /* '' */
.icon-money-2:before { content: '\e80f'; } /* '' */
.icon-resize-full:before { content: '\e810'; } /* '' */
.icon-cog:before { content: '\e811'; } /* '' */
.icon-resize-small:before { content: '\e812'; } /* '' */
.icon-cancel-circled:before { content: '\e813'; } /* '' */
.icon-cancel:before { content: '\e814'; } /* '' */
.icon-ok-circled2:before { content: '\e815'; } /* '' */
.icon-ok-circled-1:before { content: '\e816'; } /* '' */
.icon-ok-2:before { content: '\e817'; } /* '' */
.icon-cancel-circled2:before { content: '\e818'; } /* '' */
.icon-plus:before { content: '\e819'; } /* '' */
.icon-plus-circled:before { content: '\e81a'; } /* '' */
.icon-twitter-1:before { content: '\e81b'; } /* '' */
.icon-facebook:before { content: '\e81c'; } /* '' */
.icon-youtube:before { content: '\e81d'; } /* '' */
.icon-facebook-1:before { content: '\e81e'; } /* '' */
.icon-up-circle:before { content: '\e81f'; } /* '' */
.icon-down-circle:before { content: '\e820'; } /* '' */
.icon-location:before { content: '\e821'; } /* '' */
.icon-comment:before { content: '\e822'; } /* '' */
.icon-comment-alt:before { content: '\e823'; } /* '' */
.icon-chat:before { content: '\e824'; } /* '' */
.icon-cancel-circle:before { content: '\e825'; } /* '' */
.icon-ok-circle:before { content: '\e826'; } /* '' */
.icon-right-open:before { content: '\f006'; } /* '' */
.icon-left-open:before { content: '\f007'; } /* '' */
.icon-users:before { content: '\f064'; } /* '' */
.icon-lock-open-alt:before { content: '\f075'; } /* '' */
.icon-eye:before { content: '\f082'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-soccer-ball:before { content: '\f1e3'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-pinterest:before { content: '\f312'; } /* '' */
.icon-search-1:before { content: '\f50d'; } /* '' */
.icon-lock-alt:before { content: '\f510'; } /* '' */
.icon-lock:before { content: '\f512'; } /* '' */
.icon-lock-open:before { content: '\f513'; } /* '' */