:root {
  --dark: #000000;
  --light: #fefefe;
  --borders: #989a99;
  --lineStep: #3e3e3e;
  --color: #ffa500;
  --color2: #ff9933;
  --color3: #ff6600;
  --green: #12b731;
  --link: #ff5353;
  --primary: #ffb300;
  --danger: #ff5757;
  --golden: #e5a700;
  --diners: #0b9321;
  --negative: #ff0000;
}
html,
body {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  color: var(--dark);
  font-family: "Roboto", "Titillium Web";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "fontello";
  src: url("./assets/fonts/fontello.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.ifont {
  font-family: "fontello";
  font-weight: normal;
  font-style: normal;

  display: inline-block;
  text-decoration: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

hr {
  border-style: solid;
  border-color: var(--dark);
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.app-principal-content {
  width: 100%;
  flex: 1;
  overflow-y: auto;
  background: url("../src/assets/images/IMG1.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.margin-1 {
  margin: 1rem;
}
.margin-top-1 {
  margin-top: 1rem;
}
.margin-bottom-1 {
  margin-bottom: 1rem;
}
.margin-left-1 {
  margin-left: 1rem;
}
.margin-right-1 {
  margin-right: 1rem;
}
/*  * FLEX */
.full-flex-row {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;
}
.full-flex-column {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}

/* #root { display:flex; }
         @media only screen and (orientation:portrait){
            #app-principal-content {  
                  -webkit-transform: rotate(90deg);
                  -moz-transform: rotate(90deg);
                  -o-transform: rotate(90deg);
                  -ms-transform: rotate(90deg);
                  transform: rotate(90deg);
                 }
 
         }
         @media only screen and (orientation:landscape){
            #root {  
              display: block;
                  -webkit-transform: rotate(0deg);
                  -moz-transform: rotate(0deg);
                  -o-transform: rotate(0deg);
                  -ms-transform: rotate(0deg);
                  transform: rotate(0deg);
                 }
         } */

@media (min-width: 230px) and (max-width: 767px) {
  .app-principal-content {
    background: rgb(0, 0, 0, 0.91);
    min-height: 100%;

  }
}
