.card-container {
  display: flex;
  width: 99%;
  background: var(--light);
  border-radius: 6px;
  cursor: pointer;
}
.left-card-news {
  display: flex;
  width: 32%;
}
.right-card-news {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 1rem;
}
.image-new-left {
  object-fit: cover;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.title-card-new {
  color: #f9a619;
  font-weight: bolder;
  font-size: 0.89rem;
}
.body-card-new {
  font-size: 0.7rem;
}
.date-card-new {
  font-size: 0.6rem;
  font-weight: bold;
}
